<html xmlns:th="http://thymeleaf.org" >
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/script.js"></script>
    <title>로또 번호 추첨기</title>
</head>
<body>

<div class="container">
    <div><h1 align="center" class="title"> Pick Your Own Number!! </h1></div>

    <div class="top">
            <div class="top-div">
                <span style="text-align:center;  color:red;"  class="top-div-name"  th:text="${numbers.times} "> </span>
                <span >회차 당첨번호</span>
            </div>
            <div class="numberset">
                <div class="lottocircle"><p class="value" th:text="${numbers.no1}" ></p></div>
                <div class="lottocircle"><p class="value" th:text="${numbers.no2}"></p></div>
                <div class="lottocircle"><p class="value" th:text="${numbers.no3}"></p></div>
                <div class="lottocircle"><p class="value" th:text="${numbers.no4}"></p></div>
                <div class="lottocircle"><p class="value" th:text="${numbers.no5}"></p></div>
                <div class="lottocircle"><p class="value" th:text="${numbers.no6}"></p></div>
                <div style="margin:auto;"> <i class="bi bi-plus-circle"></i> </div>
                <div class="lottocircle"><p class="value" th:text="${numbers.bonus}"></p></div>
            </div>

</div>



<div class="middle">

    <div class="table">

        <form method="get" action="/make" name="checked_number"  >
            <span>
                <div class= "table_box" style=" float:left; margin-right:20px;">
                    <h4 align="center"> 포함 숫자</h4>
                    <script>
                        var num = 1;
                        var t = "<table width=\"400\" class=\"checkbox\"><tbody>";
                        for(var i = 1; i<=5; i++){
                            t +="<tr>";
                            for(var k = 1; k<=9; k++){
                            t += "<td><input type=\"checkbox\" name=\"include\" value=\"" + num + "\" onclick=\"count_check(this);\">" +num+ "</td>";
                            num++;
                            }
                            t += "</tr>";
                        }
                        t += "</tbody></table>";
                        document.write(t);
                    </script>
                </div>

                <div class= "table_box" style=" float:left;">
                <h4 align="center"> 제외 숫자</h4>
                        <script>
                        var num = 1;
                        var t = "<table width=\"400\" class=\"checkbox\"><tbody>";
                        for(var i = 1; i<=5; i++){
                            t +="<tr>";
                            for(var k = 1; k<=9; k++){
                            t += "<td><input type=\"checkbox\" name=\"except\" value=\"" + num + "\" onclick=\"count_check2(this);\">" +num+ "</td>";
                            num++;
                            }
                            t += "</tr>";
                        }
                        t += "</tbody></table>";
                        document.write(t);
                    </script>
            </div>
            </span>
        </form>

    </div>
        <div class="buttons">
            <button class="button"  type="button" value="Submit" onclick="submit2();">뽑기 <i class="bi bi-magic"></i></button>
            <button class="button" type="button" value="Reset" onclick="reset_disabled();">재 선택 <i class="bi bi-arrow-repeat"></i></button>
        </div>

    <div>
        <div id="resultDiv">
            <script src="/script.js"></script>
            <div class="resultSec">
                <div class="resultNumber">
                    <p th:if="${numbersList}!=null" ></p>
                    <div class="numberset2" th:each="pickedNumberEntity:${pickedNumberEntityList}">
                        <div class="lottocircle"><span class="value" th:text="${pickedNumberEntity.no1}"></span></div>
                        <div class="lottocircle"><span class="value" th:text="${pickedNumberEntity.no2}"></span></div>
                        <div class="lottocircle"><span class="value" th:text="${pickedNumberEntity.no3}"></span></div>
                        <div class="lottocircle"><span class="value" th:text="${pickedNumberEntity.no4}"></span></div>
                        <div class="lottocircle"><span class="value" th:text="${pickedNumberEntity.no5}"></span></div>
                        <div class="lottocircle"><span class="value" th:text="${pickedNumberEntity.no6}"></span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</div>

</body>
